div.modal#signup-modal.animate__animated.animate__zoomIn
  div.modal-dialog.modal-lg.modal-dialog-centered
    div.modal-content
      div.modal-body.py-4.px-4
        div.row
          div.col-md-6
            img(src="images/signup.svg" width="100%")
            
          div.col-md-6
            h1.display-4(style="font-size:30px;") Register Now
            form#signup-form
              div.form-group.mt-4
                input.form-control(type="text" name="company_name" required="required" placeholder="Company Name")
                
              div.form-group
                input.form-control(type="email" name="company_email" required="required" placeholder="Company Email")
              
              div.form-group
                input.form-control(type="number" name="mobile" required="required" placeholder="Mobile No")
                
              div.form-group
                input.form-control(type="password" name="password" required="required" placeholder="password")
                
              div.form-group
                button.btn.btn-primary(type="submit") Submit
              
              p Have already an account? 
                a.request-login-modal(href="#") Login
