div.modal#signup-modal
  div.modal-dialog.modal-lg.modal-dialog-centered
    div.modal-content
      div.modal-body.py-4.px-4
        div.row
          div.col-md-6
            img(src="images/signup.svg" width="100%")
          div.col-md-6
            h1.display-4 Register Now
